.game_words_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20%;
}

.game_words {
  font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: black;
    cursor: pointer;
    padding: 12px 30px;
}

.english_word {
    position: absolute;
    text-align: center;
    color: blue;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 31px;
    margin: 20px;
    font-size: 40px;
    left: 50%;
    top: 0;
    animation: mymove 5s;
  }

  .exit-button {
      width: 50px;
      height: 20px;
  }

  .block {
    transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
  }

  @keyframes mymove {
    from {top: 0;}
    to {top: 50%;}
   }