.axis path, .axis line {
  stroke: #929292;
}

.axis text {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

.learned-area {
  fill: #404497;
  stroke: #000;
}

.unlearned-area {
  fill: #FEC246;
  stroke: #000;
}

.info-rect {
  fill: #404497;
}

.info-text {
  fill: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

@media screen and (max-width: 1440px) {
  .info-text {
    font-size: 10px;
  }
}

.pointer-line {
  fill: #000;
}

.pointer-circle {
  fill: #F56748;
  stroke: #000;
  stroke-width: 2;
}
